<div class="container mt-5">
  <mat-card>
    <mat-card-header class="bg-success text-white p-3">
      <mat-card-title>
        <mat-icon class="me-2">report_problem</mat-icon>
        แบบฟอร์มการแจ้งเหตุ
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="p-4">
      <form
        (submit)="submit()"
        class="mat-elevation-z2"
        style="padding: 24px; max-width: 500px; margin: auto"
      >
        <div class="row">
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>ผู้แจ้งเหตุ</mat-label>
            <input
              matInput
              type="text"
              placeholder="กรุณากรอกข้อมูลผู้แจ้งเหตุ"
              [(ngModel)]="incident.report"
              name="report"
              required
            />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>สถานที่เกิดเหตุ</mat-label>
            <input
              matInput
              type="text"
              placeholder="กรุณากรอกสถานที่เกิดเหตุ"
              [(ngModel)]="incident.location"
              name="location"
              required
            />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>รายละเอียด</mat-label>
            <textarea
              matInput
              placeholder="กรุณากรอกรายละเอียด"
              [(ngModel)]="incident.description"
              name="description"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>การแก้ไข</mat-label>
            <textarea
              matInput
              placeholder="กรุณากรอกรายละเอียด"
              [(ngModel)]="incident.solution"
              name="solution"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>เหตุการณ์</mat-label>
            <mat-select [(ngModel)]="incident.type" name="type" required>
              <mat-option value="เพลิงไหม้">เพลิงไหม้</mat-option>
              <mat-option value="หกรั่วไหล">หกรั่วไหล</mat-option>
              <mat-option value="เจ็บป่วยฉุกเฉิน">เจ็บป่วยฉุกเฉิน</mat-option>
              <mat-option value="อื่นๆ">อื่นๆ</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>ผู้บันทึก</mat-label>
            <input
              matInput
              type="text"
              placeholder="กรุณากรอกชื่อผู้บันทึกข้อมูล"
              [(ngModel)]="incident.recorder"
              name="recorder"
              required
            />
          </mat-form-field>
        </div>

        <div
          class="mb-3 full-width"
          *ngFor="let fileInput of fileInputs; let i = index"
        >
          <label class="form-label">เลือกรูปภาพ {{ i + 1 }}</label>
          <input
            class="form-control"
            type="file"
            name="images"
            accept="image/*"
            (change)="onFileSelected($event, i)"
          />
        </div>

        <button type="button" class="btn btn-secondary" (click)="addFileInput()">
          เพิ่มรูปภาพ
        </button>

        <!-- Preview รูป -->
        <div *ngFor="let preview of imagePreviews; let i = index" class="mb-3">
          <div class="d-flex align-items-center justify-content-between gap-2 mt-2">
            <img
              [src]="preview"
              alt="preview"
              width="100"
              class="img-thumbnail"
            />
            <button
              type="button"
              class="btn btn-danger btn-sm w-1/2 mb-2"
              (click)="removeImage(i)"
            >
              ลบ
            </button>
          </div>
        </div>

        <div class="button-row">
          <button mat-raised-button color="basic" routerLink="/incident-list">
            <mat-icon>arrow_back</mat-icon>
            กลับ
          </button>
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>save</mat-icon>
            บันทึก
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
