<div class="container mat-elevation-z8">

  <mat-toolbar color="primary" class="list-header mt-3">
    <span>📋 รายการนำส่งผู้ป่วย</span>
    <input type="text" class="form-control mx-3 w-25" placeholder="🔍 ค้นหา" (keyup)="applyFilter($event)">
    <button mat-raised-button color="accent" routerLink="/patient-form">
      <mat-icon>add</mat-icon> บันทึกการนำส่งตัวผู้ป่วย
    </button>
  </mat-toolbar>

  <hr />

  <div class="table-container mt-3">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-table custom-table">

      <!-- ReportDate Column -->
      <ng-container matColumnDef="reportDate">
        <th mat-header-cell *matHeaderCellDef> วันที่ - เวลา </th>
        <td mat-cell *matCellDef="let element"> {{element.reportDate | date:'dd/MM/yyyy HH:mm น.'}} </td>
      </ng-container>

      <!-- EmployeeId Column -->
      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef> รหัสพนักงาน </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
      </ng-container>

      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> ชื่อ </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> นามสกุล </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> แผนก / ส่วนงาน </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>

      <!-- Sickness Column -->
      <ng-container matColumnDef="sickness">
        <th mat-header-cell *matHeaderCellDef> อาการ </th>
        <td mat-cell *matCellDef="let element"> {{element.sickness}} </td>
      </ng-container>

      <!-- Hostpital Column -->
      <ng-container matColumnDef="hospital">
        <th mat-header-cell *matHeaderCellDef> นำส่ง </th>
        <td mat-cell *matCellDef="let element"> {{element.hospital}} </td>
      </ng-container>

      <!-- Recorder Column -->
      <ng-container matColumnDef="recorder">
        <th mat-header-cell *matHeaderCellDef> ผู้บันทึก </th>
        <td mat-cell *matCellDef="let element"> {{element.recorder}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> การกระทำ </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editPatient(element.id)" matTooltip="แก้ไข">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" matTooltip="ดูรายละเอียด">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteIncident(element.id)" matTooltip="ลบ">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="dataSource?.data?.length === 0" class="no-data-message d-flex flex-column align-items-center justify-content-center p-5 text-danger" style="font-size: 1.2rem;">
        <mat-icon style="font-size: 48px; margin-bottom: 8px; color: #bdbdbd;">info</mat-icon>
        <span>ไม่มีข้อมูลแสดง</span>
    </div>
  </div>
</div>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
