<div class="container min-vh-100 d-flex justify-content-center align-items-center" style="max-width: 400px;">
  <div class="card w-100">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="text" class="form-label">Username</label>
          <input formControlName="username" type="text" class="form-control" placeholder="Enter username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>
</div>
